.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
source/
node_modules/
npm-debug.*
source/css/*.css
source/css/*.map
Thumbs.db
.editorconfig
.stylelintrc
.travis.yml
gulpfile.js
package.json
package-lock.json
