.offer {
  margin-bottom: 27px;

  @media (min-width: $display-tablet) {
    margin-bottom: 46px;
  }

  @media (min-width: $display-desktop) {
    margin-bottom: 69px;
  }
}

.offer__list {
  @media (min-width: $display-desktop) {
    display: flex;
    justify-content: space-between;
  }
}
