.additional-product__heading {
  margin-top: 0;
  margin-bottom: 13px;

  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-product__attributes {
  width: 100%;
}

.additional-product__cell {
  line-height: 14px;

  @include desc-pair;

  &:last-child {
    text-align: right;
  }
}

.additional-product__link {
  display: block;
  margin-top: 13px;
  padding: 12px;

  text-align: center;
  color: $white;

  background-color: $basic-lightgreen;
}
