.cooperation {
  &--catalog,
  &--form {
    background-color: $basic-lightergray;
  }

  @media (min-width: $display-desktop) {
    position: relative;
  }
}

.cooperation__top {
  display: flex;

  width: 280px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: $display-tablet) {
    justify-content: space-between;
    align-items: center;

    width: 625px;
    padding: 65px 0 59px 0;
  }

  @media (min-width: $display-desktop) {
    position: absolute;
    top: 94px;
    left: 110px;

    max-width: 570px;
    padding: 62px 85px 59px 76px;

    background-color: $white;
  }
}

.cooperation__heading {
  min-width: 140px;
  margin: 0;

  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;

  &::first-line {
    line-height: 22px;
  }

  @media (min-width: $display-tablet) {
    max-width: 171px;

    font-size: 20px;
    line-height: 25px;
  }
}

.cooperation__address {
  margin: 0;

  line-height: 20px;

  @include alt-pair();

  @media (min-width: $display-tablet) {
    max-width: 159px;

    text-align: right;
    font-size: 16px;
  }

  @media (min-width: $display-desktop) {
    text-align: left;
  }
}

.cooperation__address-city {
  @media (min-width: $display-tablet) {
    display: inline-block;
    margin-top: 18px;
  }
}

.cooperation__map {
  width: 100%;

  border: none;

  background-image: url("../../img/bg-map-mobile@1x.png");

  @media (min-width: $display-tablet) {
    min-height: 400px;

    background-image: url("../../img/bg-map-tablet@1x.png");
  }

  @media (min-width: $display-desktop) {
    background-image: url("../../img/bg-map-desktop@1x.png");
  }
}
