.page-footer {
  padding-bottom: 22px;

  background-color: $bg-color;

  @media (min-width: $display-tablet) {
    padding: 39px 30px 41px 30px;
  }
}

.page-footer__wrapper {
  @media (min-width: $display-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: block;
  height: auto;

  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $display-mobile) {
    padding-top: 38px;
    padding-bottom: 28px;

    border-bottom: 1px solid $basic-gray;
  }
}

.page-footer__logo-img {
  width: 128px;
  height: 24px;
}

.page-footer__developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 34px;

  font-size: 16px;
  text-decoration: none;

  @include alt-pair();

  &:hover .page-footer__icon-academy,
  &:focus .page-footer__icon-academy {
    fill: $basic-lightgreen;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $display-tablet) {
    padding-bottom: 3px;
  }
}

.page-footer__icon-academy {
  fill: $special-darkgray;

  @media (min-width: $display-tablet) {
    margin-left: 23px;
  }
}
