.product {
  display: grid;
  grid-template-rows: 56px 56px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img heading"
    "img attributes"
    "link link";

  padding-top: 19px;
  padding-bottom: 25px;
}

.product__img-link {
  grid-area: img;

  width: 140px;
  height: 112px;
}

.product__img {
  height: 100%;
  object-fit: cover;
}

.product__heading-link {
  grid-area: heading;

  width: 76px;
}

.product__heading {
  margin: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $special-darkestgray;
}

.product__attributes {
  grid-area: attributes;
}

.attributes__cell {
  padding: 0;

  font-size: 12px;
  line-height: 16px;

  @include desc-pair;
}

.attributes__cell:last-child {
  text-align: right;
}

.product__link {
  grid-area: link;

  margin-top: 13px;
  padding: 12px;

  font-size: 16px;
  text-align: center;
  color: $white;

  background-color: $basic-lightgreen;
}
