.program-selection {
  padding-top: 27px;
  padding-bottom: 32px;

  border-top: 1px solid $basic-gray;
}

.program-selection__heading {
  margin-top: 0;
  margin-bottom: 37px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.program-selection__description {
  margin-top: 0;
  margin-bottom: 39px;

  text-transform: uppercase;
}
