.socials {
  display: flex;
  justify-content: center;

  @media (max-width: $display-mobile) {
    border-bottom: 1px solid $basic-gray;
    margin-bottom: 22px;
  }

  @media (min-width: $display-tablet) {
    margin-left: 25px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 62px;

  background-position: center;

  &:active {
    opacity: 0.3;
  }

  &:hover .socials__icon,
  &:focus .socials__icon {
    fill: $basic-lightgreen;
  }

  @media (min-width: $display-tablet) {
    width: 50px;
  }
}

.socials__icon {
  fill: $special-darkgray;

  @media (min-width: $display-tablet) {
    &--vk {
      width: 29px;
      height: 17px;
      margin-bottom: 5px;
    }

    &--insta {
      width: 23px;
      height: 23px;
      margin-left: 7px;
    }

    &--fb {
      width: 13px;
      height: 27px;
      margin-bottom: 7px;
    }
  }
}
