.additional-goods {
  padding-bottom: 21px;

  @media (min-width: $display-tablet) {
    padding-bottom: 60px;
  }

  @media (min-width: $display-desktop) {
    padding-bottom: 90px;
  }
}

.additional-goods__heading-container {
  @media (min-width: $display-tablet) {
    padding-bottom: 82px;
  }

  @media (min-width: $display-desktop) {
    padding-top: 73px;
    padding-bottom: 82px;
  }
}

.additional-goods__heading {
  position: relative;

  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

.additional-goods__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $display-tablet) {
    width: 708px;
  }

  @media (min-width: $display-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1220px;
  }
}

.additional-goods__list {
  margin-bottom: 37px;

  border-top: 1px solid $special-gray;

  @media (min-width: $display-tablet) {
    margin-bottom: 70px;
  }

  @media (min-width: $display-desktop) {
    min-width: 896px;
    margin-bottom: 0;
  }
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 18px;

  border-bottom: 1px solid $special-gray;

  @media (min-width: $display-tablet) and (max-width: 1199px) {
    padding: 27px 38px;

    border-left: 1px solid $special-gray;
    border-right: 1px solid $special-gray;
  }

  @media (min-width: $display-desktop) {
    padding-top: 17px;
    padding-bottom: 14px;
  }
}

.additional-goods__promo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: 289px;
  padding-top: 35px;
  padding-bottom: 11px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: $basic-lightgreen;
  background-repeat: no-repeat;

  &::before {
    content: "";
    width: 56px;
    height: 61px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;

    filter: invert(1);
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $display-tablet) and (max-width: 1199px) {
    flex-direction: row;
    justify-content: space-between;

    min-height: 200px;
    padding: 0;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: contain;
    }

    &::before {
      margin-left: 90px;
      margin-bottom: 12px;
    }
  }

  @media (min-width: $display-desktop) {
    width: 245px;
    height: 289px;
    margin: 0;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.additional-goods__text {
  width: 161px;

  font-family: $alt-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;

  @media (min-width: $display-tablet) and (max-width: 1199px) {
    margin-right: 125px;

    text-align: left;
  }
}
