.attributes {
  width: 100%;

  @media (max-width: $display-mobile) {
    margin-bottom: 6px;
  }

  @media (min-width: $display-tablet) {
    margin-top: 10px;
  }
}

.attributes__row {
  @media (min-width: $display-tablet) {
    display: flex;
    justify-content: space-between;

    padding: 8px 0;

    border-bottom: 1px solid $special-gray;
  }
}

.attributes__cell {
  padding: 0;

  font-size: 12px;
  line-height: 16px;
  text-align: left;

  @include alt-pair;

  &:last-child {
    text-align: right;
  }

  @media (min-width: $display-tablet) {
    font-size: 16px;
  }
}
