.list-item {
  @media (max-width: $display-mobile) {
    width: 280px;
    margin: 0 auto;
  }
}

.list-item:not(:last-child) {
  @media (max-width: $display-mobile) {
    margin-bottom: 13px;
  }
}

.list-item__input {
  &:hover ~ .list-item__label::before,
  &:focus ~ .list-item__label::before {
    border-color: $border-gray;
  }

  &:active ~ .list-item__label {
    opacity: 0.3;
  }

  &:checked ~ .list-item__label::after {
    display: block;
  }
}

.list-item__label {
  position: relative;
  display: flex;
  align-items: center;

  font-size: 16px;
  text-transform: uppercase;
  vertical-align: middle;
  color: $special-darkestgray;

  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 15px;

    vertical-align: middle;

    border: 1px solid $special-gray;
  }

  &::after {
    position: absolute;

    display: none;
  }

  &:hover::before,
  &:focus::before {
    border-color: $border-gray;
  }

  @media (min-width: $display-tablet) {
    font-size: 20px;
    line-height: 30px;

    &::before {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
}
