.program-form fieldset {
  margin: 0;

  @media (min-width: $display-tablet) {
    &:first-of-type {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 55px;
    }
  }

  @media (min-width: $display-desktop) {
    &:first-of-type {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 60px;
    }
  }
}

.program-form__fieldset {
  width: 100%;

  border: none;
  padding: 0;
}

.program-form__fieldset:nth-child(4) .program-form__heading-container {
  @media (max-width: $display-mobile) {
    padding-top: 30px;
  }
}

.program-form__heading-container {
  @media (min-width: $display-tablet) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.program-form__heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
}

.program-form__heading-text {
  @media (min-width: $display-tablet) {
    padding: 0 40px;
  }

  @media (min-width: $display-desktop) {
    padding: 0 35px;
  }
}

.program-form__wrapper {
  @media (min-width: $display-tablet) {
    width: 630px;
    margin: 0 auto;
  }

  @media (min-width: $display-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1220px;
  }
}

.program-form__containers-wrapper {
  @media (max-width: $display-mobile) {
    min-height: 188px;

    border-bottom: 1px solid $basic-gray;
    padding-bottom: 24px;
  }

  @media (min-width: $display-tablet) and (max-width: 1199px) {
    margin-bottom: 70px;
  }

  @media (min-width: $display-desktop) {
    width: 569px;
  }
}

.program-form__container {
  position: relative;

  display: flex;
  align-items: center;

  @media (max-width: $display-mobile) {
    width: 280px;
    margin: 0 auto;
  }

  @media (min-width: $display-desktop) {
    width: 100%;
  }
}

.program-form__container:first-child .program-form__icon {
  @media (min-width: $display-desktop) {
    right: 22px;
  }
}

.program-form__container:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $display-tablet) {
    margin-bottom: 16px;
  }
}

.program-form__label {
  min-width: max-content;
  margin-right: 14px;

  font-size: 16px;
  text-transform: uppercase;
  color: $special-darkergray;

  cursor: pointer;

  @media (min-width: $display-tablet) {
    margin-right: 20px;

    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__fieldset:first-child .program-form__input {
  @media (max-width: $display-mobile) {
    padding: 12px 15px;
  }
}

.program-form__fieldset:first-child .program-form__container:last-child .program-form__input {
  @media (max-width: $display-mobile) {
    max-width: 172px;
  }
}

.program-form__fieldset:nth-child(2) .program-form__container:last-child .program-form__input {
  @media (max-width: $display-mobile) {
    max-width: 204px;
  }
}

fieldset:first-of-type .program-form__container:nth-child(2) .program-form__input {
  @media (min-width: $display-tablet) {
    padding-left: 20px;
  }
}

.program-form__input {
  width: 100%;
  flex-grow: 1;

  padding: 12px 40px 12px 15px;

  font-size: 16px;
  text-transform: uppercase;

  border: 1px solid $basic-gray;
  outline: none;

  &--error {
    outline: 2px solid $status-error;

    & ~ .program-form__icon {
      fill: $status-error;
    }

    &:active,
    &:focus {
      outline-color: $special-darkergray;

      & ~ .program-form__icon {
        fill: $basic-lightgreen;
      }
    }
  }

  &::placeholder {
    color: $special-darkergray;
  }

  &:hover(:not(.program-form__input-error)) {
    border-color: $special-gray;
  }

  &:active,
  &:focus {
    outline: 2px solid $special-darkergray;

    & ~ .program-form__icon {
      fill: $basic-lightgreen;
    }
  }

  @media (max-width: $display-mobile) {
    max-height: 45px;
  }

  @media (min-width: $display-tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__input[type="number"]::-webkit-outer-spin-button,
.program-form__input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.program-form__input[type="number"] {
  appearance: textfield;

  &:hover,
  &:focus {
    appearance: textfield;
  }
}

.program-form__icon {
  position: absolute;
  right: 14px;
}

.program-form__comment {
  display: block;
  width: 280px;
  max-height: 150px;
  padding: 15px 12px;
  margin: 0 auto;

  font-size: 16px;
  text-transform: uppercase;
  color: $special-darkergray;

  border: 1px solid $basic-gray;

  &:hover {
    border-color: $special-gray;
  }

  &:active,
  &:focus {
    outline: 2px solid $special-darkergray;
  }

  @media (min-width: $display-tablet) {
    min-height: 175px;
    width: 630px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 9px 19px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $display-desktop) {
    width: 1220px;
  }
}

.program-form__bottom-container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $display-tablet) {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 630px;
  }

  @media (min-width: $display-desktop) {
    width: 1220px;
  }
}

.program-form__submit {
  width: 100%;
  margin-bottom: 20px;

  border: none;

  cursor: pointer;

  @media (min-width: $display-tablet) {
    width: 282px;
    padding: 15px 15px;
    margin-bottom: 0;
    margin-right: 55px;

    font-size: 20px;
  }

  @media (min-width: $display-desktop) {
    width: 568px;
    margin-right: 72px;
  }
}

.program-form__description {
  margin: 0;

  font-family: $alt-font;
  line-height: 16px;
  text-align: center;

  @media (min-width: $display-tablet) {
    margin-left: 10px;
    margin-bottom: 5px;

    font-size: 16px;
  }

  @media (min-width: $display-desktop) {
    margin-bottom: 0;
  }
}
