@import "base/normalize";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/mixes";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/index/promo";
@import "blocks/index/offer";
@import "blocks/index/program";
@import "blocks/index/features";
@import "blocks/index/result";
@import "blocks/index/slider";
@import "blocks/cooperation.scss";
@import "blocks/page-footer.scss";
@import "blocks/socials.scss";

/* Catalog main */
@import "blocks/catalog/catalog";
@import "blocks/catalog/product";
@import "blocks/catalog/attributes";
@import "blocks/catalog/show-more";
@import "blocks/catalog/additional-goods";
@import "blocks/catalog/additional-product";

/* Form main */
@import "blocks/form/program-selection";
@import "blocks/form/program-form";
@import "blocks/form/program-list";
@import "blocks/form/owner-data";
@import "blocks/form/program-diet";
@import "blocks/form/list-item";

/* Fonts */
@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    local("Oswald Regular"),
    local("Oswald-Regular"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local("Oswald Medium"),
    local("Oswald-Medium"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

/* Global tags */
html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
  align-content: start;

  min-height: 100%;
  min-width: 320px;
  padding: 0;

  font-family: $main-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;

  color: $black;
  background-color: $white;
}

img {
  width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
